body{
  text-align: center;
  font-weight: bold
}
header{
  height: 60px;
  background-color: #e0e0e0;
  padding: 20px
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex: 1;
}

.parent-container{
  display: flex;
  flex-grow: 3;
  flex-direction: column;
  justify-content: end;
  background-color: #fff8e1;
  padding: 20px
}
.aside {
  flex-grow: 1;
  padding: 20px;
  background-color: #dcedc8;
}

.parent-container .flex-item{
  margin: 15px;
  background-color: #ffecb3;
  padding: 20px;
  align-items: flex-end;
}
.item5-6{
  display: flex;
  flex-direction: row;
}
.item5-6 .flex-item{
  flex:1
}
.parent-container.item-2{
  justify-self: start;
}

footer{
  display: flex;
  height: 100px;
  background-color: #e0e0e0;
  
}
footer .flex-item {
flex:1;
margin: 15px;
background-color: white;
padding: 25px
}




